* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}

.container {
  max-width: 1245px;
  width: 100%;
  margin: 0 auto;
}

.hero__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 67px;
}

.title-part{
  width: 525px;
}

.title-part h2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  color: #363738;
  margin-bottom: 40px;
}

.title-part p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #6B6B6C;
  font-weight: 400;
  font-size: 16.4px;
  line-height: 24px;
  margin-bottom: 40px;
}

.title-part a{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 3px solid #FFCE50;
  color: #363738;
  transition: all 0.5s;
}

.title-part a:hover{
  background-color: #c7c7c7;
  border-radius: 6px;
}

.img-part{
  margin-top: 109px;
}

.why-us__container{
  margin-top: 67px;
}

.first{
  display: flex;
  justify-content: space-between;
  margin-bottom: 62px;
  margin-top: 72.5px;
}

.first .cards{
  display: flex;
  gap: 40px;
}

.second{
  display: flex;
  justify-content: space-between;
}

.second .cards{
  display: flex;
  gap: 40px;
}

.cards h3{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 16px;
  color: #363738;
}

.cards p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6B6B6C;
  width: 291px;
}

.our-works__container{
  margin-top: 120px;
  margin-bottom: 212px;
}

.steps{
  text-align: center;
  margin-top: 120px;
  margin-bottom: 120px;
}

.our-team{
  margin-top: 120px;
  margin-bottom: 130px;
}

.volvo__container{
  margin-top: 46px;
  margin-bottom: 166px;
}
